*{
    margin: 0;

}


.box {
    border-radius: 20px;
    background-color: aquamarine;
    width: 100px;
    margin: 10px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

.flex-row {
    display: flex;
    flex-direction: row;
}

.all-center {
    border: 1px solid red;
    padding: 20px auto auto auto;
    display: flex;
    flex-direction: column;
}

.flex-col {
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
}
.form-input{
    margin: 10px;
    width: 80%;
    height: 30px;
    padding-left: 10px;
    border-radius: 30px;
    
}

.center-align {
    align-items: center;
    background-color: rgba(0,0,0, 0.5);
    padding: 30px;
    padding-top: 50px;
    border-radius: 50px;
    background-color: white;
    /* padding: 20px; */
    /* margin-left: 30%;
    margin-right: 30%; */
}

.submit-button {
    margin-top: 20px;
    width : 35%;
    background-color: green;
    color: white;
}

.form-container {
    width: 30%;
    /* justify-content: center; */
    margin: auto;
    padding: 20px;
}

.br {
    /* border: 2px solid black; */
}

.login-top-margin {
    margin-top: 175px;
}

.back-image {
    background-image: url('https://wallpaperaccess.com/full/1209458.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.head-green {
    color: white;
    text-align: center; 
    background-color: green; 
    padding: 20px;
}

.sub-head {
    color: white;
    text-align: center; 
    background-color: rgb(46, 80, 46); 
    padding: 10px;
    margin-top: 20px;
}